*{
  margin:0;
  box-sizing: border-box;
  font-size: 16px;
}

.container{
  max-width:1200px;
  margin: 0 auto;
  padding:10px;
  display:grid;
}

.mainImages{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap:1px;
  padding:10px;
  @media screen and (max-width: 815px){
    grid-template-columns: 100%;
    grid-rows: repeat(3 1fr);
    padding:10px;
  }
  .topImageDiv{
    height:100%;
    @media screen and (max-width: 815px){
      height:200px;
    }
    img{
      width:100%;
      height:100%;
      position:relative;
    }
    h2{
      position: absolute;
      margin-top: -40px;
      color:#fff;
      padding-left: 10px;
      font-size: 1.5rem;
    }
  }
  .topImageDiv:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
    height:100%;
    @media screen and (max-width:850px){
      grid-column: span 1;
      grid-row: span 1;
      height:250px;
    }
  }
}

.secondaryStoriesDiv{
  display: grid;
  margin-top:50px;
  grid-template-columns: 70% 1fr;
  .texasMutualDiv{
    display: grid;
    justify-items: center;
  }
  @media screen and (max-width: 950px ){
    .texasMutualDiv{
      img{
        width:200px;
      }
    }
  }
  @media screen and (max-width: 650px ){
    grid-template-columns: 100%;
    .texasMutualDiv{
      img{
        width:300px;
      }
    }
  }
  h2{
    font-size: 2rem;
    padding:10px;
  }
  .latestStoriesDiv{
    width:100%;
    display:grid;
    grid-gap: 10px;
    padding:10px;
    .storyDiv{
      display:grid;
      grid-template-columns: 40% 1fr;
      border-bottom: 1px solid rgb(48, 47, 47);
      @media screen and (max-width:950px){
        grid-template-columns: 100%;
        padding:10px;
        border-right: none;
        border-bottom: 1px solid rgb(48, 47, 47);
      }
      img{
        width:100%;
      }
      p{
        text-align: center;
        padding: 20px;
        margin-top: 60px;
        font-size:1.5rem;
        @media screen and (max-width:950px){
          padding:10px;
          margin-top:20px;
        }
      }
    }
  }
}
